@font-face {
  font-family: "Giddyup Std";
  src: url("GiddyupStd.otf");
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Giddyup Std";
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2cb05;
  color: white;
  font-size: 9.77vh;
  width: 100%;
  height: 13.4vh;
  left: 0px;
  top: 0px;
}
.top-txt {
  font-family: "Giddyup Std";
  font-style: normal;
  font-weight: 400;
  /* font-size: 100px; */
}
.top.spacer {
  opacity: 0.1;
}
.top.actual {
  position: absolute;
  top: 0;
  left: 0;
}
#menu-container{
  position: relative;
  height: 100%
}
#top-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: stretch;
  left: 0;
  top: 100%;
  width: 59.08vh;
  cursor: pointer;
}
#home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3A208;
  height: 13.48vh;
  /* width: 100%; */
  cursor: pointer;
}
.menu-content {
  position: relative;
  height: 63.08vh;
  background-color: #F2CB04;
  cursor:unset;
}
.menu-emoji {
  position: absolute;
  font-size: 8.3vh;
}
.hamburger {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 5.5vh;
  margin: 0 3.52vh;
  cursor: pointer;
}
.hamburger > img {
  width: 7.8vh;
  height: 1vh;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
}
