.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.page1-main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 5.833vw;
}
.howdy {

  font-weight: 400;
  font-size: 10.74vh;
  line-height: 12.89vh;
  margin-top: 25.88vh;
}
.clickhere {
  margin-top: 3.72vh;

  font-family: "Giddyup Std";
  font-style: normal;
  font-weight: 400;
  font-size: 6.83vh;
  line-height: 8.2vh;

  color: #f3a208;
}
.cake {
  width: 8.68vw;
  height: 13.67vh;
  object-fit: contain;
  margin-left: 1.458vw;
  cursor: pointer;
}
.wheel {
  background-color: #f3a308;
  aspect-ratio: 1;
  height: 69vh;
  margin-top: 7.42vh;
  margin-left: 10vw;
  border-radius: 50%;
  position: relative;
}
.clock-center {
  position: absolute;
  width: 6.55%;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.clock-pin {
  position: absolute;
  width: 7.09%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;

}

.emoji-container {
  width: 16.9%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  background-color: #f4c751;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-container.n1 {
  top: 7.91%;
  left: 61.79%;
}
.emoji-container.n2 {
  top: 22.09%;
  left: 76.27%;
}
.emoji-container.n3 {
  top: 41.84%;
  left: 81.34%;
}
.emoji-container.n4 {
  top: 61.59%;
  left: 76.27%;
}
.emoji-container.n5 {
  top: 74.78%;
  left: 61.79%;
}
.emoji-container.n6 {
  top: 79.7%;
  left: 41.79%;
}
.emoji-container.n7 {
  top: 74.78%;
  left: 21.49%;
}
.emoji-container.n8 {
  top: 60.89%;
  left: 6.86%;
}
.emoji-container.n9 {
  top: 41.84%;
  left: 1.79%;
}
.emoji-container.n10 {
  top: 22.09%;
  left: 6.86%;
}
.emoji-container.n11 {
  top: 7.91%;
  left: 21.49%;
}
.emoji-container.n12 {
  top: 3.88%;
  left: 41.79%;
}
.wheel-emoji {
  transition: all 90ms ease-in-out;
  width: 56.25%;
  aspect-ratio: 1;
}
.wheel-emoji.active{
  transform: scale(1.7);
}
.i {
  position: absolute;
  overflow: visible;
}
.i-hamburger {
  position: absolute;
  left: 3.958vw;
  top: 15.83vh;

  font-style: normal;
  font-weight: 400;
  font-size: 11.72vh;
  line-height: 14.06vh;

  transform: rotate(-15deg);
}
.i-eggpan {
  position: absolute;
  /* min-width: 14.65vw; */
  /* height: 18vh; */
  left: 37.85vw;
  top: 8vh;

  font-size: 15.43vh;
  line-height: 17.58vh;

  transform: rotate(-90deg);
}
.i-pizza {
  position: absolute;
  min-width: 14.65vw;
  min-height: 25vh;
  left: -5.28vw;
  bottom: -6.83vh;
  font-size: 19.53vh;
  line-height: 23.43vh;

  transform: rotate(45deg);
}
.i-popcorn {
  position: absolute;
  min-width: 14.65vw;
  min-height: 25vh;
  font-size: 14.65vh;
  line-height: 17.58vh;
  transform: rotate(30deg);
  left: 29.17vw;
  bottom: -15.14vh;
}
.i-icecream {
  position: absolute;
  width: 20.61vw;
  min-height: 25vh;
  right: -3.61vw;
  bottom: -13vh;

  font-size: 11.72vh;
  line-height: 14.06vh;

  transform: rotate(-15deg);
}
.i-cake {
  position: absolute;
  width: 20.61vw;
  min-height: 25vh;
  right: -2.08vw;
  top: 14vh;

  font-size: 14.65vh;
  line-height: 17.58vh;

  transform: rotate(30deg);
}
