.content {
  flex: 1;
}
.avatar-container {
  margin-top: 9.86vh;
  margin-left: 4.375vw;
  width: 62.6vh;
  height: 62.6vh;
  aspect-ratio: 1;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
}
.name {
  position: absolute;
  padding: 1.2vh 1.3vw;
  white-space: nowrap;
  left: 50%;
  bottom: -3.03vh;
  transform: translateX(-50%);

  background: #f2cb04;
  border-radius: 2.93vh;

  font-weight: 400;
  font-size: 5.37vh;

  color: #ffffff;
}
.right-container {
  padding-top: 9.86vh;
  padding-left: 4.097vw;
  max-height: 100vh;
  font-family: Giddyup Std;
  font-size: 8.79vh;
  font-weight: 400;
  line-height: 10.55vh;
  letter-spacing: 0em;
  text-align: left;
  overflow-y: scroll;
}

.right-container > .emoji {
  margin-top: 1.953vh;
}
.right-container > .title {
  margin-top: 1.46vh;
}
.right-container > .content {
  font-family: "Helvetica Neue";
  font-size: 3.91vh;
  font-weight: 400;
  line-height: 4.69vh;
  letter-spacing: 0em;
  text-align: left;
  color: #f2cb04;
  white-space: pre-line;
  padding-bottom: 30vh;
}
